.owl-stage {
  display: flex;
  align-items: center;
}

.owl-item .card {
  width: 125px;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: 180px;
}

.owl-item .card .card-title {
  font-size: 1.25rem;
}

.owl-item .card .card-subtitle {
  font-size: 1.5rem;
}

.my-auto .btn {
  color:#3a3a3a;
}

.my-auto .btn:hover {
  background-color: #3a3a3a;
  color:#fff;
  text-decoration: none;
  height: 180px;
  border-radius: 2px;
}
